@font-face {
    font-family: blonde script;
    src: url("../fonts/FS BlondeScript-Regular.otf") format("opentype");
}

a {
    text-decoration: none !important;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

a:hover {
    opacity: 0.7;
}

.text-brown {
    color: #844200 !important;
}

.font-blonde-script, .font-blonde-script * {
    font-family: "blonde script";
}

.font-size-h3 {
    font-size: 35px !important;
}

.font-size-h5 {
    font-size: 25px !important;
}

.row {
    margin: 0;
}

.background-red {
    background-color: #f44336;
}

.background-orange {
    background-color: #ff9800;
}

.background-yellow {
    background-color: #ffeb3b;
}

.background-green {
    background-color: #4caf50;
}

.background-blue {
    background-color: #2196f3;
}

.background-purple {
    background-color: #673ab7;
}

.secondary-text-color {
    color: #616161 !important;
}

.title, .left-title,.right-title, .right-info, .sanphammoi, .product-info, .title-detail, .price-detail, .title-lien-he, .title-san-pham-khac{
    font-family: "blonde script";
}