.LeftHeader1 {
    width: 350px;
    color: black;
}

#RightHeader1 {
    color: black;
    padding: 1px;
}

.RightContent {
    float: right;
    width: calc(100% - 450px);
}

.LeftContent {
    float: left;
    width: 350px;
    padding-left: 80px;
}

#TrangChu {
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid gray;
    height: 25px;
    margin: 10px 0px 0px 0px;
}

#ThucDon {
    padding: 0;
    border-bottom: 1px solid gray;
    height: 25px;
    margin: 10px 0px 0px 0px;
}

#Tintuc-sukien {
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid gray;
    height: 25px;
    margin: 10px 0px 0px 0px;
}

#GioiThieu {
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid gray;
    height: 25px;
    margin: 10px 0px 0px 0px;
}

#Lienhe {
    padding: 0px 0px 10px 0px;
    border-bottom: 1px solid gray;
    height: 25px;
    margin: 10px 0px 0px 0px;
}

#News {
    margin: 20px 20px 20px 0px;
}

.NewsImg {
    width: 100%;
    /* margin: 10px; */
}

/*.NewsStr{
    width: calc(100% - 100px - 20px) ;
}
*/
.clearfix {
    clear: both;
}

.NewsImagine {
    float: left;
    width: 250px;
    margin: 20px;
}

.NewsInfor {
    float: right;
    width: calc(100% - 250px - 40px);
}