.maincontent{
  margin-top: 30px;
}

h3.title {
  margin-bottom: -10px;
}

.product-info {
  width: 200px;
}

.tenmonan {
  font-size: 26px;
}

.giagoc {
  font-size: 24px;
  color: red;
}

.giakm {
  font-size: 17px;
  margin-left: 20px;
}

.title-detail {
  color: red;
  font-size: 47px;
}

.price-detail {
  font-size: 27px;
}

.title-san-pham-khac {
  text-align: center;
  font-size: 40px;
  margin-top: 50px;
}

footer {
  margin-top: 50px;
}

/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding-top: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container-img {
  position: relative;
  display: block;
  height: 350px;
}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 46%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  margin-right: 18px;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/* =================================== Comment =========================================== */
a.small-text {
  margin-top: 10px;
}

.small-text {
  font-size: 13px;
}

.margin-top-8px {
  margin-top: 8px;
}

.padding-16px {
  padding: 16px 32px;
}

.comment {
  margin-top: 16px;
}

.comment #user-avatar {
  float: left;
  width: 64px;
}

.comment #user-comment {
  float: right;
  width: calc(100% - 64px);
  border-bottom: 1px dashed #DDD;         
}

#date-comment {
  color: #858585;
  margin: 0;
  margin-top: 2px;
}
.comment:last-child #user-comment {
  border: none;
}

#user-comments > div:last-child {
  text-align: center;
}

.with-margin {
  margin: 24px 0;
}

.lighten-text {
  color: #616161;
}

p {
  margin: 8px 0;
}

tr {
  border: none;
}

td {
  vertical-align: top;
}

.carousel {
  height: 500px;
}

.app-item #app-icon {
  float: left;
  width: 35%;
}

.app-item #app-info {
  float: right;
  width: 65%;
  padding-left: 8px;
}

.app-item #app-icon img {
  width: 100%;
}

.app-item {
  padding: 16px;
  margin-bottom: 16px;
  width: 100%;
  height: 35%;
}

.app-item #app-info #app-name {
  font-size: 20px;
}

.wrap-with-overflow {
  width: 100%;
  text-overflow: clip;
  overflow: hidden;
  white-space: nowrap;
}

.wrap-text {
  width: 100%;
  text-overflow: clip;
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: 8%;
}

@media screen and (max-width: 1024px) {
  #app-content {
      width: 100%;
  }

  #more-app {
      width: 100%;
      padding: 16px;
  }

  .app-item {
      width: 49%;
      float: left;
  }

  .app-item:nth-child(odd) {
      margin-right: 2%;
  }
}

@media screen and (max-width: 900px) {
  .app-type a, #type-text, #more-info {
      display: none;
  }

  .app-type {
      text-align: center;
      padding-left: 0; 
  }

  .type, #sidebar {
      content: "";
      text-align: center;
      width: 50px;
  }

  #main-content, #navigator {
      width: calc(100% - 50px);
  }

  #apps-icon {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 640px) {
  .type, #sidebar {
      display: none;
  }

  #main-content, #navigator {
      width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .app-item {
      width: 100%;
  }
}



/*  bhoechie tab */
div.bhoechie-tab-container {
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px solid #ddd;
  margin-top: 20px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu {
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  text-align: center;
}
div.bhoechie-tab-menu div.list-group {
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group > a {
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group > a .glyphicon,
div.bhoechie-tab-menu div.list-group > a .fa {
  color: #5a55a3;
}
div.bhoechie-tab-menu div.list-group > a:first-child {
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group > a:last-child {
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group > a.active,
div.bhoechie-tab-menu div.list-group > a.active .glyphicon,
div.bhoechie-tab-menu div.list-group > a.active .fa {
  background-color: #5a55a3;
  background-image: #5a55a3;
  color: #ffffff;
}
div.bhoechie-tab-menu div.list-group > a.active:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #5a55a3;
}

div.bhoechie-tab-content {
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
  display: none;
}


.comment .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    float: left;
}


.product-detail {
  margin-left: 13px;
}

input.form-control.number-product {
  text-align: center;
}

  
#button-addon1 {
    width: 37px;
}