
.maincontent{
    margin-bottom: 60px;
}

.mt-50{
    margin-top: 50px;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-am-22{
    margin-bottom: -22px;
}

.title-lien-he{
    font-size: 50px;
}

.w-90{
    width: 90px;
}